<configuration>
  <config>
    <add key="repositoryPath" value="packages" />
  </config>
  <packageRestore>
    <add key="enabled" value="True" />
  </packageRestore>
  <packageSources>
    <add key="Empyrean Cached NuGet Feed" value="http://nuget.feed.ebsi.corp:8729/NuGet/Default" />
    <add key="Empyrean NuGet Feed" value="http://nuget.feed.ebsi.corp:8729/NuGet/Empyrean" />
    <add key="Nuget" value="https://packages.nuget.org/v1/FeedService.svc/" />
  </packageSources>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
</configuration>
